<!DOCTYPE html>
<html>
  <head>
    <title>AvailableFlatSurface</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://localhost:35729/livereload.js"></script>
    <%# icons %>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%# icons %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "name": "<%= current_user.name %>"
          };
      </script>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
